<p-toast position="top-center" baseZIndex="500001"></p-toast>
<p-confirmDialog baseZIndex="500001" appendTo="body" header="Confirmation" icon="pi pi-exclamation-triangle" acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Gestion des congés </h5>
            <button pButton pRipple (click)="add()" label="Demander un congé" icon="pi pi-plus" iconPos="left" class="mr-2 mb-2"></button>
            <button pButton pRipple (click)="edit()" label="Modifier une demande de congé" icon="pi pi-pencil" iconPos="left" class="mr-2 mb-2"></button>
            <button pButton pRipple (click)="info()" label="Détails" icon="pi pi-info" iconPos="left" class="mr-2 mb-2"></button>
            <button pButton pRipple (click)="cancelHoliday()" label="Annuler une demande de congé" icon="pi pi-trash" iconPos="left" class="mr-2 mb-2"></button>
            <button pButton pRipple (click)="synthesis()" label="Solde des congés" icon="pi pi-info" iconPos="left" class="mr-2 mb-2"></button>
            <button *ngIf="IsAdmin"  pButton pRipple (click)="valid()" label="Traiter une demande de congé" icon="pi pi-user-edit" iconPos="left" class="mr-2 mb-2"></button>
         
            <button pButton pRipple (click)="export()" label="Export vers Excel" icon="pi pi-file-excel" iconPos="left" class="mr-2 mb-2"></button>
      <div class="grid formgrid">
        <div class="col-12 mb-2 lg:col-3 lg:mb-2"  *ngIf="IsAdmin">
         <p-autoComplete name="filterCollaborator" [(ngModel)]="filterCollaborator" placeholder="Recherche par utilisateur"
                        [suggestions]="filterCollaboratorCollection" field="designation" [dropdown]="true" [size]="30"
                        (completeMethod)="searchCollaborator($event)"
                        (onSelect)="onCollaboratorSelected($event)" (onDropdownClick)="searchCollaborator($event)"
                        [style]="{'width':'100%'}" [inputStyle]="{'width':'calc(100% - 31px)'}"
                        [delay]="100" (onClear)="initHolidays(0)"
                        emptyMessage="Saisissez au moins 2 caractères pour lancer la recherche."></p-autoComplete>
     </div>
     <div class="col-12 mb-2 lg:col-3 lg:mb-2">
           
      <p-calendar name="filterStartDate" [(ngModel)]="filterStartDate" placeholder="Date début" [locale]="dateTimeService.fr" [showButtonBar]="true"
                  [style]="{'width':'100%'}" showIcon="true" dateFormat="dd/mm/yy" [inputStyle]="{'width':'calc(100% - 31px)'}"
                  (onSelect)="initHolidays(0);" (onClearClick)="initHolidays(0);" [maxDate]="filterEndDate"></p-calendar>
    </div>
    <div class="col-12 mb-2 lg:col-3 lg:mb-2">
           
      <p-calendar name="filterEndDate" [(ngModel)]="filterEndDate" placeholder="Date fin" [locale]="dateTimeService.fr" [showButtonBar]="true"
                  [style]="{'width':'100%'}" showIcon="true" dateFormat="dd/mm/yy" [inputStyle]="{'width':'calc(100% - 31px)'}"
                  (onSelect)="initHolidays(0);" (onClearClick)="initHolidays(0);" [minDate]="filterStartDate"></p-calendar>
    </div>
    
            <div class="col-12 mb-2 lg:col-3 lg:mb-2">
              <p-dropdown [(ngModel)]="filterYear" [options]="years" [style]="{'width':'100%'}"
                    (onChange)="initHolidays(0)" placeholder="Sélectionner une année"></p-dropdown>
        </div>
      </div>
      <div class="grid formgrid">
        <div class="col-12 mb-2 lg:col-3 lg:mb-2">
          <p-dropdown name="filterStatus" [(ngModel)]="filterStatus"  placeholder="Recherche par statut"
                      filterPlaceholder="type" [options]="status" [style]="{'width':'100%'}"
                      (onChange)="initHolidays(0)" ></p-dropdown>
        </div>
        <div class="col-12 mb-2 lg:col-3 lg:mb-2">
          <p-dropdown name="filterType" [(ngModel)]="filterType" placeholder="Recherche par type"
                     optionLabel="name" filterPlaceholder="Type" [options]="types" [style]="{'width':'100%'}"
                      (onChange)="initHolidays(0)" ></p-dropdown>
        </div>
          <div class="col-12 mb-2 lg:col-3 lg:mb-2">
              <a href (click)="initFilters()" style="margin-left: 20px">Réinitialiser la recherche</a>
          </div>
      </div>
      <br>
     <p-table styleClass="p-datatable-gridlines" [value]="listHolidays" [(selection)]="selectedItem" selectionMode="single" dataKey="id"
                     [paginator]="true" [rows]="pageSize" (onLazyLoad)="loadHolidaysLazy($event)" [totalRecords]="totalRecords" [lazy]="true"
                     [customSort]="true">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th width="13%">Date de la demande</th>
                      <th data-label="Nom"  *ngIf="IsAdmin" [pSortableColumn]="'Nom'" width="12%">
                            Utilisateur
                        </th>
                        <th width="13%">Date début</th>
                        <th width="13%">Date fin</th>
                        <th width="8%">Nb jours</th>
                        <th width="12%">Type</th>
                        <th width="10%">Traité par</th>
                        <th width="20%">Statut</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="rowData">
                        <td data-label="Date de la demande" class="d-lg-block">{{rowData.auditDateCreation | date:'dd/MM/yyyy'}}</td>
                        <td data-label="Collaborateur" *ngIf="IsAdmin" class="d-lg-block">{{rowData.userFullName}}</td>
                        <td data-label="Date début" class="d-lg-block">{{rowData.startDate | date:'dd/MM/yyyy'}}</td>
                        <td data-label="Date fin" class="d-lg-block">{{rowData.endDate | date:'dd/MM/yyyy'}}</td>
                        <td data-label="Nb jours demandés" class="d-lg-block">{{rowData.numberOfDay}}</td>
                        <td data-label="Type" class="d-lg-block">{{rowData.typeName}}</td>
                        <td data-label="Traitée par ?" class="d-lg-block">{{rowData.validatorDesignation}}</td>
                        <td data-label="Statut" class="d-lg-block">
                            <span [style.background-color]="'rgb(3, 194, 252)'" *ngIf="rowData.statusId == 1"
                                  class="badge badgeSize custom-badge">Envoyée</span>
                            <span [style.background-color]="'rgb(3, 194, 252)'" *ngIf="rowData.statusId == 4"
                                  class="badge badgeSize custom-badge">En cours d'annulation</span>
                            <span [style.background-color]="'Red'"
                                  *ngIf="rowData.statusId == 2"
                                  class="badge badgeSize custom-badge">Refusée</span>
                            <span [style.background-color]="'Green'"
                                  *ngIf="rowData.statusId == 3"
                                  class="badge badgeSize custom-badge">Acceptée</span>
                            <span [style.background-color]="'Red'"
                                  *ngIf="rowData.statusId == 5"
                                  class="badge badgeSize custom-badge">Annulée</span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td [attr.colspan]="8">
                            Pas de données à afficher!
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div style="text-align: left">
                        Total : {{totalRecords}} demande(s) de congés
                    </div>
                </ng-template>
            </p-table>

        </div>
    </div>
</div>
<p-sidebar [(visible)]="sidebar" position="right" [baseZIndex]="10000" (onHide)="holiday = null;" [style]="{width:'40em'}">
   <app-edit-form [title]="title" [holidayId]="holiday?holiday.id:null" [disabled]="readOnlyHoliday"
                             (onSave)="save()" (onCancel)="cancel()">
    </app-edit-form>
</p-sidebar>

