
<div *ngIf="!isVisible">

<form method="post" [formGroup]="ResetPasswordForm" (ngSubmit)="saveNewPassword($event)" action="#" novalidate>
    <div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
            <div class="col-12 mt-5 xl:mt-0 text-center">
            </div>

            <div class="col-12 xl:col-6" style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
                <div class="h-full w-full m-0 py-7 px-4" style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                    <div class="text-center mb-5">
                        <img src="assets/img/hrlogo260.png" alt="Image" height="50" class="mb-3">
                        <div class="text-900 text-3xl font-medium mb-3">Nouveau mot de passe</div>
                        <span class="text-600 font-medium">
                            <p-message severity="error" *ngIf="submitted && loginError" text="Email non trouvable ou une erreur est survenue lors la modification du mot de passe."></p-message>
                        </span>
                    </div>

                    <div class="w-full md:w-10 mx-auto">
                        <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                        <input id="email" type="email" name="email" formControlName="Email" placeholder="Email" pInputText class="w-full mb-3" style="padding:1rem;">
                        <div *ngIf="submitted && f.Email.errors" class="text-danger invalid-feedback">
                            <p-message severity="error" *ngIf="f.Email.errors.required" text="Email obligatoire."></p-message>
                            <p-message severity="error" *ngIf="f.Email.errors.maxlength" text="Maximum 100 caractères."></p-message>
                            <p-message severity="error" *ngIf="f.Email.errors.pattern" text="Format invalide."></p-message>
                        </div>
                        <label for="password1" class="block text-900 text-xl  font-medium mb-2">Mot de passe</label>
                        <p-password id="password1" name="password" formControlName="Password" [(ngModel)]="password" placeholder="Mot de passe" [toggleMask]="true" styleClass="w-full mb-3"></p-password>
                        <div *ngIf="submitted && f.Password.errors" class="text-danger invalid-feedback"
                             style="font-size: 80%; color: #dc3545;">
                            <p-message severity="error" *ngIf="f.Password.errors.required" text="Mot de passe obligatoire."></p-message>
                            <p-message severity="error" *ngIf="f.Password.errors.pattern" text="Format invalide."></p-message>
                        </div>
                        <label for="password2" class="block text-900 text-xl  font-medium mb-2">Confirmer mot de passe</label>
                        <p-password id="password2" name="password2" formControlName="PasswordConfirm" [(ngModel)]="PasswordConfirm" (onBlur)="checkPasswords($event)" placeholder="Mot de passe" [toggleMask]="true" styleClass="w-full mb-3"></p-password>
                        <div *ngIf="submitted && f.PasswordConfirm.errors" class="text-danger invalid-feedback"
                             style="font-size: 80%; color: #dc3545;">
                            <p-message severity="error" *ngIf="f.PasswordConfirm.errors.required" text="Mot de passe obligatoire."></p-message>
                            <p-message severity="error" *ngIf="f.PasswordConfirm.errors.pattern" text="Format invalide."></p-message>
                            <p-message severity="error" *ngIf="f.PasswordConfirm.hasError('notSame')" text="Confirmer le nouveau mot de passe."></p-message>
                        </div>
                       
                        <button pButton pRipple label="Enregistrer" class="w-full p-3 text-xl">
                            <span *ngIf="isLoading" class="spinner-border spinner-border-sm" style="color:white;" role="status"
                                  aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
</div>
 
<div *ngIf="isVisible">
<form>
    <div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
            <div class="col-12 mt-5 xl:mt-0 text-center">
            </div>
    
            <div class="col-12 xl:col-6" style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
                <div class="h-full w-full m-0 py-7 px-4" style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                    <div class="text-center mb-5">
                        <img src="assets/img/hrlogo260.png" alt="Image" height="50" class="mb-3">
                        <div class="text-900 text-3xl font-medium mb-3">Nouveau mot de passe</div>
                        <p-messages severity="success">
                            <ng-template pTemplate>
                                <span class="custom-message">Le Mot de passe a été sauvegardé avec succes !.Un mail est envoyé à {{resetNewPassword.EmailUser}}.</span>
                            </ng-template>
                        </p-messages>
                                               </div>
                        <div class="w-full md:w-10 mx-auto">


    <button   pButton pRipple class="w-full p-3 text-xl" label="Se connecter" (click)="displayMessage()">
        <span class="spinner-border spinner-border-sm" style="color:white;" role="status"
              aria-hidden="true"></span>
    </button>
    </div>
    </div>
    </div>
        </div>
        </div>
</form>
</div>