<div *ngIf="hs">
  <div>
    <span [style.background-color]="'rgb(3, 194, 252)'" class="badge badgeSize custom-badge responsiveFirstBadge" *ngIf="hasSynthesis && !isPaidHoliday">
      {{hs.numberOfDayAutorized
}}
    </span>
<span [style.background-color]="'orange'" class="badge badgeSize custom-badge responsiveFirstBadge" *ngIf="hasSynthesis && isPaidHoliday">
    {{hs.numberOfDayAutorized}}
</span>
  </div>
<div>
    <span [style.background-color]="'rgb(3, 194, 252)'" class="badge badgeSize custom-badge responsiveBadge" *ngIf="!isPaidHoliday">
        {{hs.numberOfDayTaken}}
    </span>
    <span [style.background-color]="'orange'" class="badge badgeSize custom-badge responsiveBadge" *ngIf="isPaidHoliday">
        {{hs.numberOfDayTaken}}
    </span>
</div>
<div *ngIf="hasSynthesis">
    <span [style.background-color]="'rgb(3, 194, 252)'" *ngIf="hs.numberOfDayRemaining == 0"
          class="badge badgeSize custom-badge responsiveBadge">{{hs.numberOfDayRemaining}}</span>
    <span [style.background-color]="'Red'" *ngIf="hs.numberOfDayRemaining <0"
          class="badge badgeSize custom-badge responsiveBadge"> {{hs.numberOfDayRemaining}}</span>
    <span [style.background-color]="'Green'" *ngIf="hs.numberOfDayRemaining >0"
          class="badge badgeSize custom-badge responsiveBadge"> {{hs.numberOfDayRemaining}}</span> <br />
</div>
</div>
