<p-toast position="top-center" baseZIndex="500001"></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" acceptLabel="Oui" rejectLabel="Non"></p-confirmDialog>
<form method="post"  (ngSubmit)="saveNewPassword($event)"  [formGroup]="ResetPasswordForm" action="#" novalidate>
    <div class="grid p-fluid">
        <div class="col-12 md:col-12">
            <div class="card">
               
                <div  class="card-header card-header-danger">
                    <h4 class="card-title">Modification du mot de passe </h4>
                </div>
                <div class="col-12 mb-2 lg:col-4 lg:mb-0" *ngIf="!isVisible">
                    <button  pButton pRipple label="Enregistrer" type="submit" icon="pi pi-save" iconPos="left" class="mr-2 mb-2"></button>
                </div>
                <div class="col-12 mb-2 lg:col-4 lg:mb-0" *ngIf="isVisible">
                    <button  pButton pRipple label="Se connecter" (click)="displayMessage()" icon="pi pi-save" iconPos="left" class="mr-2 mb-2"></button>
                </div>
              
                <div class="grid formgrid" *ngIf="!isVisible">
                    <div class="w-full md:w-10 mx-auto">
                        <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                        <input id="email" type="email" name="email" disabled="true" formControlName="Email" placeholder="Email"   pInputText class="w-full mb-3" style="padding:1rem;">
                        <div *ngIf="submitted && f.Email.errors" class="text-danger invalid-feedback">
                            <p-message severity="error" *ngIf="f.Email.errors.required" text="Email obligatoire."></p-message>
                            <p-message severity="error" *ngIf="f.Email.errors.maxlength" text="Maximum 100 caractères."></p-message>
                            <p-message severity="error" *ngIf="f.Email.errors.pattern" text="Format invalide."></p-message>
                        </div>
                        <label for="password1" class="block text-900 text-xl  font-medium mb-2">Mot de passe</label>
                        <p-password id="password1" name="password" promptLabel="Saisir un mot de passe"  weakLabel= "Faible"  mediumLabel="Moyenne" strongLabel="Fort" formControlName="Password" [(ngModel)]="password" placeholder="Mot de passe" inputStyleClass="w-full"  [toggleMask]="true" styleClass="w-full mb-3"></p-password>
                        <div *ngIf="submitted && f.Password.errors" class="text-danger invalid-feedback"
                             style="font-size: 80%; color: #dc3545;">
                            <p-message severity="error" *ngIf="f.Password.errors.required"  text="Mot de passe obligatoire."></p-message>
                            <p-message severity="error" *ngIf="f.Password.errors.pattern" text="Format invalide."></p-message>
                        </div>
                        <label for="password2" class="block text-900 text-xl  font-medium mb-2">Confirmer mot de passe</label>
                        <p-password id="password2" name="password2" promptLabel="Saisir un mot de passe" weakLabel="Faible" mediumLabel="Moyenne" strongLabel="Fort"  formControlName="PasswordConfirm" [(ngModel)]="PasswordConfirm" inputStyleClass="w-full"  (onBlur)="checkPasswords($event)" placeholder="Mot de passe" [toggleMask]="true" styleClass="w-full mb-3"></p-password>
                        <div *ngIf="submitted && f.PasswordConfirm.errors" class="text-danger invalid-feedback"
                             style="font-size: 80%; color: #dc3545;">
                            <p-message severity="error" *ngIf="f.PasswordConfirm.errors.required" text="Mot de passe obligatoire."></p-message>
                            <p-message severity="error" *ngIf="f.PasswordConfirm.errors.pattern" text="Format invalide."></p-message>
                            <p-message severity="error" *ngIf="f.PasswordConfirm.hasError('notSame')" text="Confirmer le nouveau mot de passe."></p-message>
                        </div>
                       
                       
                    </div>

                </div>
                <div class="grid formgrid" *ngIf="isVisible">

                <div class="text-center mb-5">
                    <p-messages severity="success">
                        <ng-template pTemplate>
                            <span class="custom-message">Le Mot de passe a été sauvegardé avec succes ! Un mail est envoyé à {{resetNewPassword.EmailUser}}.</span>
                        </ng-template>
                    </p-messages>
                                           </div>
         
          
                
            </div>
            </div>
            </div>
    </div>
</form>
